body{
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

.notification{
    border-radius: 12px;
}

.notification-text{
    font-size: 22px;
}

.notification-text a{
    color: #dc3545;
}
.card{
    border-radius: 15px;
    /* animation-delay:3s; */
    animation-duration: 1s;
    animation-iteration-count:1;
      
}

/* expand link to span across card */
.card-link{
    display: block;
    height: 100%;
}

.card-one{
    background-color: #d4cbe5;
}

.card-two{
    background-color: #7adccf;
}

.card-three{
    background-color: #f7c59f;
}

.card-four{
    background-color: #b8d7f5;
}

.card-header{
    height: 170px;
}

.header-color{
    color: #121212;
    font-size: xx-large;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: 'Fredoka One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-icon{
    color: #121212;
    float: right;
    font-size: xx-large;
}

.card-link p{
    color: #121212;
}

.footer-icon{
    font-size: xx-large;
    color: #121212;
}

.footer-nav{
    font-size: large;
    color: #121212;
}

.fa-instagram{
    color: #E50914;
}
.fa-facebook{
    color: #3B5998;
}
.fa-twitter{
    color: #55ACEE;
}
.fa-mail-bulk{
    color: #EA4335;
}

.fa-whatsapp, .fa-whatsapp-square{
    color: #34A853;
}
/* #d4cbe5
   #7adccf
   #f7c59f
   #b8d7f5
   */