body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.notification{
    border-radius: 12px;
}

.notification-text{
    font-size: 22px;
}

.notification-text a{
    color: #dc3545;
}
.card{
    border-radius: 15px;
}

.card-header{
    height: 170px;
}

.header-color{
    color: #000;
    font-size: xx-large;
    letter-spacing: 1px;
    margin-top: 50px;
}

.card-icon{
    color: #dc3545;
    float: right;
    font-size: xx-large;
}

.footer{
    border-top: 2px solid #dc3545;
}